// Colors
$blue: #2962ff;
$black: #263238;
$white: #eceff1;
$red: #f9423a;
$yellow: #ffc629;
$cyan: #00c1d4;
$grey: #ccc;
$green: #009874;
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
$text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
$dark-overlay: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
//Text
$interstate: "Interstate";
$interstateUltra: "InterstateUltra";
$merriweather: "Merriweather";
$flood: "Flood";
